<div *ngIf="basket" class="row checkout-address-book">
  <!-- Error Message -->
  <div *ngIf="error" class="col-md-12">
    <ish-error-message [error]="error" [toast]="false" />
  </div>

  <div *ngIf="nextDisabled && !error" class="col-md-12">
    <div class="alert alert-danger">{{ 'checkout.addresses.no_Selection.error' | translate }}</div>
  </div>

  <!-- Validation messages-->
  <div class="col-md-12">
    <ish-basket-validation-results (continueCheckout)="goToNextStep()" />
  </div>

  <!-- ------------------------------- invoice address ---------------------------------- -->
  <div class="col-md-6 col-lg-4" data-testing-id="invoiceToAddress">
    <ish-basket-invoice-address-widget
      [eligibleAddresses$]="eligibleAddresses$"
      [showErrors]="nextDisabled"
      [collapse]="active === 'shipping'"
      (collapseChange)="invoiceCollapsed($event)"
    />
  </div>

  <!-- ------------------------------ shipping address ----------------------------------------- -->
  <div class="col-md-6 col-lg-4" data-testing-id="shipToAddress">
    <ish-basket-shipping-address-widget
      [eligibleAddresses$]="eligibleAddresses$"
      [showErrors]="nextDisabled"
      [collapse]="active === 'invoice'"
      (collapseChange)="shippingCollapsed($event)"
    />
  </div>
</div>
